<div class="container-fluid" id="product-show">
	<div class="row">

		<p id="notice"><%= notice %></p>

		<div class="col-sm-2 col-md-2">
			<%= image_tag(@product.image_url, class: "img-responsive") %>
		</div>

		<div class="col-sm-4 col-md-4" id="product-description">	
			<p>
				<strong><%= @product.name %></strong>
			</p>
			<p class="star-rating">
				<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span>			
			</p>
			<p>
				<%= @product.description %>
			</p>

			<p>
				<span class="glyphicon glyphicon-euro"></span><strong><%= @product.price %></strong>	
			</p>

			<p>
				<%= link_to 'Edit', edit_product_path(@product) %> |
				<%= link_to 'Back', products_path %>
			</p>
		</div>
	</div>

	<div class="rating">
		
	</div>

</div>
